[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.20.0"
pytube = {ref = "custom-channel-stream", git = "https://github.com/pishiko/pytube.git"}
requests = "==2.27.1"
tweepy = "==4.8.0"

[dev-packages]

[requires]
python_version = "3.11"
